@import '../../scss/variables';

$color-background-active-player: #f5df4b;

.player {
    background-color: $color-app-foreground;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    width: 50%;

    @media (min-width: $media-width-small) {
        width: 33%;
    }
}

.player__name,
.player__score-value {
    font-weight: 700;
}

.player__score-value {
    margin-left: 0.5rem;
}

.player[data-active="true"] {
    background-color: $color-background-active-player;
    cursor: pointer;
    transition: background-color 250ms ease-in;
}
