@import './scss/_reset.scss';
@import './scss/_variables.scss';

html, body {
  background-color: $color-app-background;
  font-family: $font-family-app;
  font-size: 16px;
  line-height: 1;
  margin: 0;
  max-width: 100vw;
  padding: 0;
}

* + p,
p + * {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;

  @media(min-width: $media-width-small) {
    font-size: 1.5rem;
  }
}

#scorekeeper {
  background-color: $color-app-foreground;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  width: 90%;
}

#scoreAdjustmentForm {
  display: flex;
  max-width: 100%;
}

#scoreAdjustmentForm input[type=text] {
  flex: 0 0 auto;
  width: 50%;
}

#scoreAdjustmentForm input[type=submit] {
  margin-left: 1rem;
}

input[type=text], input[type=number] {
  background-color: $color-app-background;
  border: 2px solid $color-input-border;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  transition: border-color 125ms ease-in;
  max-width: 90%;
}

input[type=text]:focus, input[type=number]:focus {
  border-color: $color-input-border--focus;
}

#game-start__player-count {
  display: inline-block;
  margin-left: 1rem;
  width: 30px;
}

.reset-controls .button-wrap {
  display: inline-block;
}

.reset-controls .button-wrap + .button-wrap {
  margin-left: 1rem;
}