// Fonts
$font-family-app: Helvetica, Arial, sans-serif;

// Colors
$color-app-background: whitesmoke;
$color-app-foreground: #fff;

$color-input-border: #aaaaaa;
$color-input-border--focus: #ff714b;
$color-button-background--focus: rgb(255,113,75);
$color-button-text--focus: rgb(245,245,245);

$color-box-shadow: #e6e6e6;

// Media widths
$media-width-small: 450px;